﻿@model IEnumerable<QualyTeam.WebSite.ViewModels.DocumentViewModel>

@using (Html.BeginForm("DocumentsList", "Document", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    if (ViewBag.FeedbackMensagem != null)
    {
        @Html.Raw("<script>");
        @Html.Raw("popFeedbackAlert('" + ViewBag.FeedbackStatus + "', '" + ViewBag.FeedbackMensagem + "');");
        @Html.Raw("</script>");
    }

    @Html.ActionLink("Cadastrar novo documento", "Save", "Document")
    <div class="limiter">
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100 ver3 m-b-110">
                    <div class="table100-head">
                        <table>
                            <thead>
                                <tr class="row100 head">
                                    <th class="cell100 column1">@Html.ActionLink("Codigo", "DocumentsList", new { filterTag = "codigo" })</th>
                                    <th class="cell100 column2">@Html.ActionLink("Titulo", "DocumentsList", new { filterTag = "titulo" })</th>
                                    <th class="cell100 column3">@Html.ActionLink("Processo", "DocumentsList", new { filterTag = "processo" })</th>
                                    <th class="cell100 column4">@Html.ActionLink("Categoria", "DocumentsList", new { filterTag = "categoria" })</th>
                                    <th class="cell100 column5">@Html.DisplayNameFor(modelItem => modelItem.Arquivo)</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="table100-body js-pscroll">
                        <table>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="row100 body">
                                        <td class="cell100 column1">@Html.DisplayFor(modelItem => item.Codigo)</td>
                                        <td class="cell100 column2">@Html.DisplayFor(modelItem => item.Titulo)</td>
                                        <td class="cell100 column3">@Html.DisplayFor(modelItem => item.Processo)</td>
                                        <td class="cell100 column4">@Html.DisplayFor(modelItem => item.Categoria)</td>
                                        <td class="cell100 column5">@Html.ActionLink("[Download]", "DownloadFile", new { codigo = item.Codigo })</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
