﻿@model QualyTeam.WebSite.ViewModels.DocumentViewModel
@using QualyTeam.WebSite.Helper
@using (Html.BeginForm("Save", "Document", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    if (ViewBag.FeedbackMensagem != null)
    {
        @Html.Raw("<script>");
        @Html.Raw("popFeedbackAlert('" + ViewBag.FeedbackStatus + "', '" + ViewBag.FeedbackMensagem + "');");
        @Html.Raw("</script>");
    }

    <script type="text/javascript">
//auto expand textarea
function adjust_textarea(h) {
    h.style.height = "20px";
    h.style.height = (h.scrollHeight)+"px";
}
    </script>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <style type="text/css">
        .form-style-8 {
            font-family: 'Open Sans Condensed', arial, sans;
            width: 500px;
            padding: 30px;
            background: #FFFFFF;
            margin: 50px auto;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
            -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
            -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
        }

            .form-style-8 h2 {
                background: #4D4D4D;
                text-transform: uppercase;
                font-family: 'Open Sans Condensed', sans-serif;
                color: #797979;
                font-size: 18px;
                font-weight: 100;
                padding: 20px;
                margin: -30px -30px 30px -30px;
            }

            .form-style-8 input[type="text"],
            .form-style-8 input[type="date"],
            .form-style-8 input[type="datetime"],
            .form-style-8 input[type="email"],
            .form-style-8 input[type="number"],
            .form-style-8 input[type="search"],
            .form-style-8 input[type="time"],
            .form-style-8 input[type="url"],
            .form-style-8 input[type="password"],
            .form-style-8 textarea,
            .form-style-8 select {
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                outline: none;
                display: block;
                width: 100%;
                padding: 7px;
                border: none;
                border-bottom: 1px solid #ddd;
                background: transparent;
                margin-bottom: 10px;
                font: 16px Arial, Helvetica, sans-serif;
                height: 45px;
            }

            .form-style-8 textarea {
                resize: none;
                overflow: hidden;
            }

            .form-style-8 input[type="button"],
            .form-style-8 input[type="submit"] {
                -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
                -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
                box-shadow: inset 0px 1px 0px 0px #45D6D6;
                background-color: #2CBBBB;
                border: 1px solid #27A0A0;
                display: inline-block;
                cursor: pointer;
                color: #FFFFFF;
                font-family: 'Open Sans Condensed', sans-serif;
                font-size: 14px;
                padding: 8px 18px;
                text-decoration: none;
                text-transform: uppercase;
            }

                .form-style-8 input[type="button"]:hover,
                .form-style-8 input[type="submit"]:hover {
                    background: linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
                    background-color: #34CACA;
                }
    </style>

    @Html.ActionLink("Voltar à lista", "DocumentsList", "Document")
    <div class="form-style-8">
        <h2>Cadastrar novo documento</h2>
        <fieldset>
            @Html.ValidationSummary(true, "Houve um erro ao processar o formulário", new { @class = "alert warning" })
            <section>
                @Html.TextBoxFor(m => m.Codigo, new { type = "text", name = "field1", placeholder = @Html.DisplayNameFor(modelItem => modelItem.Codigo) })
                @Html.ValidationMessageFor(model => model.Codigo)
            </section>
            <section>
                @Html.TextBoxFor(m => m.Titulo, new { type = "text", name = "field2", placeholder = @Html.DisplayNameFor(modelItem => modelItem.Titulo) })
                @Html.ValidationMessageFor(model => model.Titulo)
            </section>
            <section>
                @Html.TextBoxFor(m => m.Processo, new { type = "text", name = "field3", placeholder = @Html.DisplayNameFor(modelItem => modelItem.Processo) })
                @Html.ValidationMessageFor(model => model.Processo)
            </section>
            <section>
                @Html.TextBoxFor(m => m.Categoria, new { type = "text", name = "field4", placeholder = @Html.DisplayNameFor(modelItem => modelItem.Categoria) })
                @Html.ValidationMessageFor(model => model.Categoria)
            </section>
            <section>
                @Html.TextBoxFor(m => m.Arquivo, new { type = "file"})
                @Html.ValidationMessageFor(model => model.Arquivo)
            </section>
            <br />
            <input type="submit" class="submit" name="submitbuttonname" value="Salvar documento" />
        </fieldset>
    </div>
}
