﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador de Documentos</title>
    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />*@
    <link rel="stylesheet" type="text/css" href="~/Content/colorlib/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/colorlib/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/colorlib/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/colorlib/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/colorlib/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/colorlib/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/colorlib/css/main.css">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script>
		function popFeedbackAlert(status, message){
		    window.alert('Status: ' + status + ' - Mensagem: ' + message);
		}
    </script>
    </script>
</head>
<body>
    @RenderBody()
    <hr />
    <footer>
        <p align="center">&copy; @DateTime.Now.Year - QualyTeam</p>
    </footer>


    <!--===============================================================================================-->
    <script src="~/Content/colorlib/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/colorlib/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/colorlib/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/colorlib/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/colorlib/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script>
		$('.js-pscroll').each(function(){
			var ps = new PerfectScrollbar(this);

			$(window).on('resize', function(){
				ps.update();
			})
		});
    </script>
    <!--===============================================================================================-->
    <script src="~/Content/colorlib/js/main.js"></script>
</body>
</html>